* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: #333333; 
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 130%;
  color: black;
  text-shadow: 0 0 1px #343434;
  height: 100%;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), scroll;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  cursor: default;
  display: block;
}

#about-description {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #CBCBD1;
  overflow: auto;
  display: flex;
  align-items: center;
}
.about-left {
  flex: 1;
}
.about-right {
  flex: 2;
  padding-right: 120px;
}
@media only screen and (max-width: 900px){
  #about-description {
    display: block;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
  }
  #profile-pic {
    float: none !important;
    margin-left: auto;
    margin-right: auto !important;
  }
  .project-card-img img {
    margin-top: 170px;
}
}
@media only screen and (max-width: 569px){

.header-wrapper {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 569px){

#top-header {
    min-height: 7em;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}
}
#top-header {
  min-height: 10em;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}


#profile-pic {
  padding: 40px;
  margin-right: 40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 2;
  display: block;
  float: right;
}


#main-container {
  background: #807070;
  margin-left: 10px;
  margin-right: 10px;
}

.projects-wrap {
  width: 100%;
  margin-top: 90px;
}

.projects-section {
  max-width: 1024px;
  padding: 2em;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 500;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1.2em;
  text-align: left;
  margin-left: -7vw;
}


.project-container {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 569px){

.project-card {
    padding-bottom: 4em;
}
}
@media only screen and (min-width: 900px){
.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.project-card {
  padding-top: 2em;
  padding-bottom: 8em;
}
@media only screen and (min-width: 900px)
{
.project-card-img {
    width: 45%;
}
}
.project-card-img {
  width: 100%;
  text-align: center;
  margin-top: -180px;
}

#project-card-img-project1 {
  margin-top: -230px;
}

@media only screen and (min-width: 900px)
{
.project-card-img img {
    max-width: 400px;
    width: 100%;
}
}
@media only screen and (min-width: 570px)
{
.project-card-img img {
    max-width: 400px;
}
}

.project-card-img img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 7px #99999A;
}

img {
    border-style: none;
}

@media only screen and (min-width: 900px)
{
.project-card-content {
    width: 47%;
    padding-top: 1em;
}
}

.project-card-content {
  width: 100%;
  padding-top: 1em;
}
.card-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}
.card-text {
  font-size: 1em;
  font-weight: 300;
}
.project-card-content span {
  text-transform: uppercase;
  padding-right: 1em;
  font-weight: 500;
}

.tech-icon {
  color: #083045;
  font-size: 1.2em;
}
.card-footer {
  display: flex;
}
a:link, a:visited {
  color: #EEEEF5;
  text-decoration: none;
}
.btn-light {
  color: #ffffff;
  font-size: 1em;
  background: #083045;
  padding: 0.25em 0.525em;
  text-decoration: none;
  margin-right: 0.75em;
  border: 2px solid #083045;
  border-radius: 15px;
  margin-top: 0.25em;
}
.btn-dark {
  color: #ffffff;
  font-size: 1em;
  background: #083045;
  padding: 0.25em 0.525em;
  text-decoration: none;
  margin-right: 0.75em;
  border: 2px solid #083045;
  border-radius: 15px;
  margin-top: 0.25em;
}
button {
text-transform: none;
overflow: visible;
font: inherit;
margin: 0;
}
.nav-container {
  display: block;
  position: fixed !important;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, -0.3);
}


@media only screen and (max-width: 780px){
#nav_container li {
    font-size: 16px;
    padding-left: 0;
}
}
.nav-container li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
@media only screen and (max-width: 780px){
#intro {
    position: relative;
    font-family: 'Lato', sans-serif;
    padding: 100px 0 0 0;
    height: 100vh;
    padding-left: 20px;
}
}

#intro {
  width: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
  padding: 175px 10px 100px 10px;
  height: 100vh;
  padding-left: 80px;
}

section {
  max-width: 1344px;
  margin: 0 auto;
  display: block;
}

#contact {
  margin-top: 250px;
}
.about h1 {
  margin-bottom: 20px;
  padding-left: 20px;
  
}

#about-h1 {
  margin-left: 90px;
  margin-top: -200px;
}

h1 {
  font-weight: 100;
  margin: 110px;
  margin-bottom: -20px;
  margin-top: -200px;
  font-size: 2em;
}


@media only screen and (max-width: 780px){
#about {
    position: relative;
    font-family: 'Lato', sans-serif;
    padding: 0;
    line-height: 2.0;
    font-weight: 400;
    font-size: 20px;
}
}
#about {
  width: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
  padding: 50px 10px 185px;
  line-height: 1.5;
  font-weight: 400;

}
@media only screen and (max-width: 780px){
#contact-me, #contact-footer {
    font-size: 20px;
    margin-top: 40px;
    text-align: left;
}
}
#contact-footer {
  margin-top: 76px;
  text-align: center;
  max-width: 1130px;
  padding: 150px;
}

footer {
  max-width: 800px;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 780px){
.icon_border {
    height: 25px;
    width: 7%;
    display: inline-block;
}
}

.icon_border {
  height: 25px;
  width: 7%;
  display: inline-block;
}

@media only screen and (max-width: 780px){
#contact-me a, #contact-footer a {
    display: block;
}
}
#contact-footer a {
  padding-left: 20px;
}
@media only screen and (max-width: 780px){
.fa {
    opacity: 0.4;
    transition: opacity 0.25s linear, text-shadow 0.25s linear;
}
}
.fa {
  opacity: 0.4;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
  
}
@media only screen and (max-width: 780px){
.icon_text {
    font-size: 16px;
    text-align: center;
    position: relative;
    transition: text-shadow 0.25s linear;
    padding-left: 5px;
}
}
.icon_text {
  font-size: 25px;
  text-align: center;
  position: relative;
  transition: text-shadow 0.25s linear;
  padding-left: 5px;
}

#projects {
  position: relative;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

#projects h2 {
  text-align: left;
  font-weight: 100;
  font-size: 46px;
  padding-left: 20px;
}

#title {
  position: relative; 
  margin: 0px auto; 
  text-align: center; 
  top: -580px; 
  font-size: 50px; 
  font-family: 'Anton', sans-serif;
  color: #e3f1ef;
}

#banner {
 background-image: url('./images/san-franc.jpg');
  height: 800px;  
  margin-top: none;
  padding-top: none;
  position:relative; 
  z-index: -5; 
  top: 65px; 
  text-align: center; 
  opacity: 1; 
}

#nav {
  position: fixed; 
  top: 0px; 
  display: flex; 
  justify-content: space-around;
  width: 70%;
  min-width: 600px; 
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px; 
}

button {
  padding: 14px 30px; 
  background-color: #2C3249; 
  color: white; 
  font-size: 16px; 
  border-radius: 5px; 
  float: right; 
  border: 0px; 
  margin-top: 20px; 
  transition: 0.3s; 
  cursor: pointer; 
}

button:hover {
  background-color: #262B3E; 
}

h1 {
  color: white; 
  font-family: sans-serif; 
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px; 
  line-height: 30px; 
}

footer {
  width: 100%; 
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 200px; 
  z-index: 5; 
  background-color: #1F1F1F; 
}
     
  #p-hello {
      color: white; 
      font-family: sans-serif; 
      font-size: 50px; 
      line-height: 0px; 
      text-align: center; 
      font-family: 'Pacifico', cursive;
  }

  .projects-heading {
    margin-left: 175px;
  }

  